.header{
    box-shadow: 0px 4px 10px 2px grey;
    padding: var(--base-padding);
    margin-bottom: 20px;
}

h1{
    display: flex;
    justify-content: center;
    text-decoration: underline black 3px;
}

form{
    display: flex;
    justify-content: center;
    padding: var(--base-padding);
    margin-bottom: 20px;
    font-size: var(--base-font-size);
}





